<div class="row">
	<div class="col-6">
		<div class="product">
			<form (ngSubmit)="onSubmit(pav)" #pav="ngForm">
				<div class="form-group">
					<label>Title</label><br>
					<input type="text" [(ngModel)]="product.title" name="title" value="" class="form-control">
				</div>
				<div class="form-group">
					<label>Description</label><br>
					<textarea name="description" [(ngModel)]="product.description" rows="8" cols="80" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label>Price</label><br>
					<input type="number" name="price" [(ngModel)]="product.price" value="" class="form-control">
				</div>

				<div class="form-group">
					<button type="submit" name="button" class="btn btn-primary">
						Submit Product
					</button>
				</div>
			</form>
			<div class="form-group">
				<label>Image</label><br>
				<input type="file" name="file" (change)="onChange($event)" value="">
			</div>
			<div class="input-group">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="inputGroupFile04">
					<label class="custom-file-label" for="inputGroupFile04">Choose image</label>
				</div>
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button">Button</button>
				</div>
			</div>
		</div>
	</div>
</div>